body, html {
  background-color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* TEXTOS INCIALES: INDICE, H1, H2 */

.text-initial {
  padding: 10px;
  text-align: left;
  background-color: rgb(22, 22, 43);
  color: white;
}

.h1-h2_inicial {
  display: flex;
  font-size: 25px;
}

.initial-text {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 19%;
  margin-left: 30px;
  text-align: center;
}
.second-text {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 1.5%;
  width: 73%;
  border-radius: 5px;
  text-align: center;
}

/* INDICE CONTEXTUAL E IMAGENES */

.ind-img {
  display: flex;
  align-items: flex-start;
}

.index {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 20%;
  margin-left: 30px;
  margin-top: 0.5%;
}

.index-list {
  color: black;
  text-align: left;
  font-size: 20px;
}

.index-list li {
  margin: 47px 0;
  width: 100%;
}

.index-list li > a {
  color: grey;
  text-decoration: none;
}
  .index-list li > a:hover {
    color: #050505;
    text-decoration: dashed;
  }

.index-img {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 20px;
}

.index-img a {
  margin: 10px;
  text-decoration: none;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #888888;
  transition: box-shadow 0.3s ease;
  padding: 15px;
}

.index-img a:hover {
  box-shadow: 10px 10px 10px #b3b3b3;
}

.index-img img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

/* FOOTER */

.footer {
  margin-top: 50px;
  background-color: rgb(22, 22, 43); 
  color: #fff; 
  padding: 40px 0; 
  text-align: center; 
  width: 100%;
  position: absolute; 
  bottom: 0; 
}

.footer-content {
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  align-items: center; 
}

.footer-image {
  width: 100px; 
  margin-right: 20px; 
}

.footer-text {
  flex-grow: 1; 
  text-align: left; 
}