body {
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.initial-text > h2 {
    text-align: center;
    color: black;
    padding: 50px;
    font-size: 30px;

}

.ind-img {
    display: flex;
    align-items: flex-start;
}
    .index {
        border-radius: 5px;
    }
        .index-list {
            color: black;
        }
            .index-list, li > a {
                color: grey;
                text-decoration: none;
                font-size: 20px;
                margin: 20px;
            }
    .index-img {
        display: flex;
        padding-left: 5px;
    }
        .index-img, img {
            width: 30%;
            padding-left: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
        }